.autor {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    margin-bottom: 0.3rem;
}

.autor__avatar {
    width: 11%;

    border-color: var(--branco);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;

    margin-right: 0.9rem;
}